<p>This is the index route, it is rendered inside of the application outlet by default</p>

<p>Let's check our name: {{model.name}}</p>

<p>{{model.thisDoesThings}}</p>

<p>Controllers wrap models, case in point, computing the length of model.name in the controller: {{controllerWrapsModels}}</p>
